@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(https://fonts.googleapis.com/css?family=PT+Sans);



*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: $main-font;
}

section {
    width: 100%;
    padding: 30px;
    position: relative;

}

.intro {
    background: url(https://apod.nasa.gov/apod/image/1804/MilkyVlei_Liebermann_960.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    text-align: center;
    color: aliceblue;
}

.intro h1 {

    margin: 100px 0 60px;
    text-transform: uppercase;
    font-size: 3.2rem;
}

.intro h2 {
    margin: 100px 0 60px;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.about-myself {
    background: $bg-gradient-1;
    border-top: 5px solid $bg-gradient-1;
    text-align: center;
    padding: 50px 0;
}

.about-myself h2 {
    color: $text-color-2;
    margin-top: 60px;
    font-size: $font-size-3;
    margin-bottom: 20px;
    text-align: center;
    display: inline-block;
}

.container {
    max-width: 1050px;
    padding: 0 1rem;
    margin-left: auto;
    margin-right: auto;
}

.card {
    padding: 2.5rem;
    background: #fff;
    border: 1px solid #ebecec;
    border-radius: 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    margin: .5rem;
    box-sizing: border-box;
}


div {
    display: block;
}

.flex-Skills {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.card img {
    max-width: 30px;
    border-radius: 6px;
    display: block;
    margin: 0 auto;
}

.card h3 {
        display: block;
        font-size: 1.17em;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }

.clear {
    clear: both;
}

@media screen and (max-width: 800px) {

    .services .services-container .service {
        position: relative;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 5%;
    }

    .portfolio .projects .project {
        width: 45%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
}

@media screen and (max-width: 640px) {

    .intro .content .header-group {
        width: 350px;

        .header-title {
            font-size: $font-size-4;
        }

        span {
            font-size: $font-size-1;
        }
    }
}

@media screen and (max-width: 480px) {

    .portfolio .projects .project {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .contact .socials {
        width: 100%;

    }
}